<div class="container" id="container">
  
  <div class="form-container sign-up-container">
    <form class="form" novalidate name="signUpForm" #signUpForm="ngForm">
      <h2>ユーザ登録</h2>
      <p></p>
      <span>SNSアカウントで認証</span>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-twitter"></i></a>
        <a href="#" class="social"><i class="fab fa-github"></i></a>
      </div>
      <span>ユーザ情報を入力</span>
      <div class="form-group">
        <input type="text" class="form-control" name="uniqueName" placeholder="ユーザーID" [(ngModel)]="userInfo.uniqueName" required />
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="name" placeholder="氏名" [(ngModel)]="userInfo.name" required />
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="email" placeholder="メールアドレス" [(ngModel)]="userInfo.email" required />
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" placeholder="パスワード" [(ngModel)]="userInfo.password" required />
      </div>

      <button type="button" class="btn btn-primary" (click)="signup()" [disabled]="!signUpForm.form.valid">登録</button>
    </form>
  </div>
  
  <div class="form-container sign-in-container">
    <form class="form" novalidate name="signInForm" #signInForm="ngForm">
      <h2>ログイン</h2>
      <p></p>
      <span>SNSアカウントで認証</span>
      <div class="social-container">
        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social"><i class="fab fa-twitter"></i></a>
        <a href="#" class="social"><i class="fab fa-github"></i></a>
      </div>
      <span>アカウントでログイン</span>
      <div class="form-group">
        <input type="text" class="form-control" name="uniqueNameOrEmail" [(ngModel)]="userInfo.uniqueNameOrEmail" required/>
      </div>
      <div class="form-group">
        <input type="password" class="form-control" name="password" [(ngModel)]="userInfo.password" required/>
      </div>

      <button type="button" class="btn btn-primary" (click)="signin()" [disabled]="!signInForm.form.valid">ログイン</button>
    </form>
  </div>

  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h2>ようこそ</h2>
        <p>
          サービスを使用するためにはログインしてください
        </p>
        <button type="button" class="btn btn-default ghost" (click)="clickSignIn()">ログイン</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h2>こんにちは</h2>
        <p>
          サービスを使用するためにはユーザ登録をしてください
        </p>
        <button type="button" class="btn btn-default ghost" (click)="clickSignUp()">ユーザ登録</button>
      </div>
    </div>
  </div>

</div>