<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <span class="navbar-brand">App Name</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav ml-auto">
      <li [class]="activeState('home')">
        <a class="nav-item nav-link" (click)="currentPage = 'home'"><i class="fas fa-home"></i> ホーム</a>
      </li>
      <li [class]="activeState('documents')">
        <a class="nav-item nav-link" (click)="currentPage = 'documents'"><i class="fas fa-list"></i> ドキュメント</a>
      </li>
      <li [class]="activeState('requests')">
        <a class="nav-item nav-link" (click)="currentPage = 'requests'"><i class="fas fa-tasks"></i> リクエスト</a>
      </li>
      <li [class]="activeState('userPrefs')">
        <a class="nav-item nav-link" (click)="currentPage = 'userPrefs'"><i class="fas fa-user"></i> ユーザ設定</a>
      </li>
      <li class="nav-item nav-item" *ngIf="isAdmin()">
          <a class="nav-link" (click)="admin()"><i class="fas fa-cogs"></i> 管理ダッシュボード</a>
      </li>
      <li>
        <a class="nav-item nav-link" (click)="logout()"><i class="fas fa-sign-out-alt"></i> ログアウト</a>
      </li>
    </ul>
  </div>
</nav>

<header id="header" class="d-sm-none d-md-block">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <h2 class="mt-4">
          {{pages[currentPage].title}} <small>{{pages[currentPage].subTitle}}</small>
        </h2>
      </div>
      <div class="col-md-2">
      </div>
    </div>
  </div>
</header>

<section id="breadcrumb" class="d-sm-none d-md-block">
  <div class="container">
    <ol class="breadcrumb">
      <li ng-class="activeState('home')"><a (click)="currentPage = 'home'">ホーム</a>
      </li>
      <li [class]="activeState('documents')" *ngIf="currentPage === 'documents'">ドキュメント</li>
      <li [class]="activeState('requests')" *ngIf="currentPage === 'requests'">リクエスト</li>
      <li [class]="activeState('userPrefs')" *ngIf="currentPage === 'userPrefs'">ユーザ設定
      </li>
    </ol>
  </div>
</section>

<section id="main">
  <div class="container">

    <div *ngIf="currentPage === 'home'">
      <div class="row">
        <div class="col-md-3 d-sm-none d-md-block">
          <div class="list-group">
            <a (click)="currentPage = 'home'" class="list-group-item">
              <i class="fas fa-home"></i> ホーム
            </a>
            <a (click)="currentPage = 'documents'" class="list-group-item">
              <i class="fas fa-list"></i> ドキュメント <span class="badge">12</span>
            </a>
            <a (click)="currentPage = 'requests'" class="list-group-item">
              <i class="fas fa-tasks"></i> リクエスト <span class="badge">203</span>
            </a>
            <a (click)="currentPage = 'userPrefs'" class="list-group-item">
              <i class="fas fa-user"></i> ユーザ設定
            </a>
          </div>
        </div>
        <div class="col-md-9 col-sm-12 col-xs-12">
          <app-overview [documents]="documents.slice(0, 5)" [requests]="requests.slice(0, 5)"></app-overview>
        </div>
      </div>
    </div>

    <div *ngIf="currentPage === 'documents'">
      <app-document-list></app-document-list>
    </div>

    <div *ngIf="currentPage === 'requests'">
      <app-request-list></app-request-list>
    </div>

    <div *ngIf="currentPage === 'userPrefs'">
      <app-user-preferences></app-user-preferences>
    </div>

  </div>
</section>